.admin-header {
   width: 100%;
   height: 10vh;
   background-color: #fcefb7;

   .admin-title {
      width: 60vw;
      float: left;
      margin: 10px 0px 10px 20px;
      font-size: 2rem;
      text-align: left;
      font-weight: bold;
      color: black;
   }

   button {
      // width: 150px;
      float: right;
      margin: 15px;
      // height: 50px;
      // background-color: red;
      color: white;
      font-weight: bold;
      // font-size: 25px;
   }
}

.admin-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 25vh;

   .first {
      background-image: url("https://static.vecteezy.com/system/resources/thumbnails/005/272/294/small_2x/cinema-movie-time-element-illustration-free-vector.jpg");
      background-size: cover;

   }

   .third {
      background-image: url("https://static.vecteezy.com/system/resources/previews/007/357/815/non_2x/online-hotel-booking-easy-travelling-with-online-booking-apps-flat-template-free-vector.jpg");
      background-size: cover;

   }

   .second {
      background-image: url("https://img.freepik.com/premium-vector/anonymous-user-flat-icon-vector-illustration-with-long-shadow_520826-1932.jpg?w=2000");
      background-size: cover;

   }

   .manage-container {
      width: 25vw;
      height: 40vh;
      color: white;
      font-size: 2em;
      font-weight: bold;
      padding: 3vh 30px;
      margin: 20px 20px 0 20px;
      cursor: pointer;
      text-decoration: none;
      // border: 3px solid black;
      border-radius: 5%;


      &:hover {
         // background-color: rgb(255, 140, 0);
         color: white;
      }
   }
}